:root{
    --backgroundmain-color: #F6F5F4;
    --backgroundmain2-color: #FFFFFF; 
    --accent-color: #2B788B;
    --accent2-color: #C3DCE3;
    --accentelements-color: #F2D4DC; 
    --accentelements2-color: #945069;
    --classbookelements-color: #639B6D;
    --classbookelements2-color: #CB5B43;
    --classbookelements3-color: #C4A24C;
    --texttitle-color: #000000;
    --text2-color: #585858;
    --text3-color: #757575;
    --text4-color: #BABABA;
    --text5-color: #E0E0E0; 
}

.container{
    width: 1180px;
    margin: 0 auto;
    padding: 0 auto;
}

*{
    box-sizing: border-box;
}

.montserrat-regular{
    font-family: 'Montserrat';
    font-weight: 400;
    font-style: normal;
}

.montserrat-semibold{
    font-family: 'Montserrat';
    font-weight: 600;
    font-style: normal;
}

.montserrat-bold{
    font-family: 'Montserrat';
    font-weight: 700;
    font-style: normal;
}

.dela-gothic-one-regular {
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

body{
    font-family: 'Montserrat', 'Dela Gothic One';
}

.header-navigation-link, .header-link-2{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
    line-height: 22.4px;
    color: var(--text3-color);
    text-decoration: none;
}

.header-navigation-link-4{font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
    line-height: 22.4px;
    color: var(--text3-color);
    text-decoration: none;}

.header-navigation-link-3{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
    line-height: 22.4px;
    color: var(--texttitle-color);
    text-decoration: none;
}

.header-navigation-link-1{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
    line-height: 22.4px;
    color: var(--texttitle-color);
    text-decoration: none;
}

.header-account{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 22.4px;
    color: var(--accent-color);
    background-color: var(--accent2-color);
    border-color: var(--accent2-color);
    border-style: solid;
    border-radius: 100px;
    padding-top: 9px;
    padding-right: 14px;
    padding-bottom: 9px;
    padding-left: 14px;
    cursor: pointer;
}

.haeder-text{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
    line-height: 22.4px;
    color: var(--text3-color);
    cursor: pointer;
}

.haeder-text-2{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: var(--texttitle-color);
    cursor: pointer;
}

.home-page-headline{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: var(--accent-color);
}

.home-page-headline-2{
    font-family: 'Dela Gothic One';
    font-weight: 400;
    font-size: 56px;
    line-height: 67.2px;
    color: var(--texttitle-color);
}

.home-page-text-information{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 18px;
    line-height: 25.2px;
    color: var(--text3-color);
}

.about-platform-headline{
    font-family: 'Dela Gothic One';
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
    color: var(--texttitle-color);
    margin-top: 121.5px;
}

.about-platform-text{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 18px;
    line-height: 25.2px;
    color: var(--text3-color);
    margin-top: 30px;
}

.about-platform-img{
    margin-top: 30px;
    margin-bottom: 127px;
}

.about-vocabulary-headline{
    font-family: 'Dela Gothic One';
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
    color: var(--texttitle-color);
    margin-top: 50px;
}

.about-vocabulary-text{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 18px;
    line-height: 25.2px;
    color: var(--text3-color);
    margin-top: 30px;
}

.about-vocabulary-button{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: var(--accent-color);
    background-color: var(--accent2-color);
    border-style: solid;
    border-color: var(--accent2-color);
    border-radius: 100px;
    padding-top: 14px;
    padding-left: 22px;
    padding-bottom: 14px;
    padding-right: 22px;
    margin-top: 34px;
    cursor: pointer;
}

.about-vocabulary-button:hover{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: var(--accent-color);
    background-color: var(--accent2-color);
    border-style: solid;
    border-color: var(--accent2-color);
    border-radius: 100px;
    padding-top: 14px;
    padding-left: 22px;
    padding-bottom: 14px;
    padding-right: 22px;
    margin-top: 34px;
    cursor: pointer;
    background-color: #A0C8D3;
    border-color: #A0C8D3;
}

.about-progress-headline{
    font-family: 'Dela Gothic One';
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
    color: var(--texttitle-color);
    margin-top: 149px;
}

.about-progress-text{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 18px;
    line-height: 25.2px;
    color: var(--text3-color);
    margin-top: 30px;
}

.about-progress-button{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: var(--accent-color);
    margin-top: 34px;
    margin-bottom: 149px;
    background-color: var(--accent2-color);
    border-style: solid;
    border-color: var(--accent2-color);
    border-radius: 100px;
    padding-top: 14px;
    padding-right: 22px;
    padding-bottom: 14px;
    padding-left: 22px;
    cursor: pointer;
}

.about-progress-button:hover{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: var(--accent-color);
    margin-top: 34px;
    margin-bottom: 149px;
    background-color: var(--accent2-color);
    border-style: solid;
    border-color: var(--accent2-color);
    border-radius: 100px;
    padding-top: 14px;
    padding-right: 22px;
    padding-bottom: 14px;
    padding-left: 22px;
    cursor: pointer;
    background-color: #A0C8D3;
    border-color: #A0C8D3;
}

.footer-link{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    color: var(--text3-color);
    text-decoration: none;
}

.footer-link-1{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    color: var(--text3-color);
    text-decoration: none;
}

.footer-link-2{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    color: var(--text3-color);
    text-decoration: none;
}

.footer-link-3{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    color: var(--text3-color);
    text-decoration: none;
}

.footer-link-programmes-desc{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    color: var(--text3-color);
    text-decoration: none;
}

.footer-link-programmes-desc-1{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    color: var(--text3-color);
}

.footer-img{
    color: var(--text4-color);
}

.level-link{
    font-family: 'Dela Gothic One';
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;
    color: var(--text3-color);
    text-decoration: none;
    display: flex;
    align-items: center; 
    padding-right: 20px;
}

.level-link-2{
    font-family: 'Dela Gothic One';
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;
    color: var(--texttitle-color);
    text-decoration: none;
    margin-right: auto;
    display: flex;
    align-items: center;
    border-left: 1px solid var(--text5-color);
}

ul.main-level-list{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px 0;
}

.main-level{
    font-family: 'Dela Gothic One';
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;
    color: var(--text3-color);
    padding-right: 12px;
}

.main-level-1{
    font-family: 'Dela Gothic One';
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;
    color: var(--texttitle-color);
    padding-right: 12px;
}

.main-level-explain{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 12px;
    line-height: 16.8px;
    color: var(--backgroundmain-color);
    background-color: var(--classbookelements-color);
    border: none;
    border-radius: 4px;
    padding-top: 4px;
    padding-right: 8px;
    padding-bottom: 4px;
    padding-left: 8px;
    cursor: pointer;
}

.main-level-explain-green{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 12px;
    line-height: 16.8px;
    color: var(--classbookelements-color);
    background-color: rgb(99, 155, 109, 0.3);
    border: none;
    border-radius: 4px;
    padding-top: 4px;
    padding-right: 8px;
    padding-bottom: 4px;
    padding-left: 8px;
    cursor: pointer;
}

.main-level-explain-yellow{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 12px;
    line-height: 16.8px;
    color: var(--classbookelements3-color);
    background-color: rgb(196, 162, 76, 0.3);
    border: none;
    border-radius: 4px;
    padding-top: 4px;
    padding-right: 8px;
    padding-bottom: 4px;
    padding-left: 8px;
    cursor: pointer;
}

.main-level-explain-red{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 12px;
    line-height: 16.8px;
    color: var(--classbookelements2-color);
    background-color: rgb(203, 91, 67, 0.3);
    border: none;
    border-radius: 4px;
    padding-top: 4px;
    padding-right: 8px;
    padding-bottom: 4px;
    padding-left: 8px;
    cursor: pointer;
}

.example-card-photo{
    border-radius: 14px;
}

.example-card-title{
    font-family: 'Dela Gothic One';
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
    color: var(--texttitle-color);
}

.example-card-title-1{
    font-family: 'Dela Gothic One';
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
    color: var(--text3-color);
}

.example-card-text-transcription{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 18px;
    line-height: 25.2px;
    color: var(--texttitle-color);
}

.example-card-text{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 18px;
    line-height: 25.2px;
    color: var(--texttitle-color);
}

.example-card-button{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    line-height: 19.6px;
    color: var(--backgroundmain-color);
    background-color: var(--classbookelements2-color);
    border: none;
    border-radius: 4px;
    padding-top: 4px;
    padding-right: 12px;
    padding-bottom: 4px;
    padding-left: 12px;
    cursor: pointer;
}

.example-card-button:hover{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    line-height: 19.6px;
    color: var(--backgroundmain-color);
    background-color: var(--classbookelements2-color);
    border: none;
    border-radius: 4px;
    padding-top: 4px;
    padding-right: 12px;
    padding-bottom: 4px;
    padding-left: 12px;
    cursor: pointer;
    background-color: #b6513c;
}


.example-card-explain-button{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    line-height: 19.6px;
    color: var(--backgroundmain-color);
    background-color: var(--classbookelements2-color);
    border: none;
    border-radius: 4px;
    padding-top: 4px;
    padding-right: 12px;
    padding-bottom: 4px;
    padding-left: 12px;
    cursor: pointer;
}

.example-card-text-explain{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--texttitle-color);
}

.example-card-text{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--text3-color);
}

.example-card-button-add{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: var(--backgroundmain-color);
    background-color: var(--classbookelements-color);
    border: none;
    border-radius: 100px;
    padding-top: 12px;
    padding-right: 20px;
    padding-bottom: 12px;
    padding-left: 20px;
    cursor: pointer;
}

.example-card-button-add:hover{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: var(--backgroundmain-color);
    background-color: var(--classbookelements-color);
    border: none;
    border-radius: 100px;
    padding-top: 12px;
    padding-right: 20px;
    padding-bottom: 12px;
    padding-left: 20px;
    cursor: pointer;
    background-color: #54835c;
}

.example-card-button-remove{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: var(--classbookelements2-color);
    background-color: rgb(203, 91, 67, 0.3);
    border: none;
    border-radius: 100px;
    padding-top: 12px;
    padding-right: 20px;
    padding-bottom: 12px;
    padding-left: 20px;
    cursor: pointer;
}

.example-card-button-remove:hover{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: var(--classbookelements2-color);
    background-color: rgb(203, 91, 67, 0.3);
    border: none;
    border-radius: 100px;
    padding-top: 12px;
    padding-right: 20px;
    padding-bottom: 12px;
    padding-left: 20px;
    cursor: pointer;
    background-color: rgb(163, 72, 54, 0.4);
}

.main-list-button{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: var(--accent-color);
    border-color: var(--accent-color);
    border-radius: 100px;
    border-style: solid;
    border-width: 3px;
    padding-top: 14px;
    padding-right: 17px;
    padding-bottom: 14px;
    padding-left: 17px;
    cursor: pointer; 
}

.main-list-button:hover{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: var(--accent-color);
    border-color: var(--accent-color);
    border-radius: 100px;
    border-style: solid;
    border-width: 3px;
    padding-top: 14px;
    padding-right: 17px;
    padding-bottom: 14px;
    padding-left: 17px;
    cursor: pointer;
    background-color: var(--text4-color);
}

.main-list-button-1{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: var(--backgroundmain-color);
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    border-radius: 100px;
    border-style: solid;
    border-width: 3px;
    padding-top: 14px;
    padding-right: 17px;
    padding-bottom: 14px;
    padding-left: 17px;
    cursor: pointer;
}

.main-list-text{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 18px;
    line-height: 25.2px;
    color: var(--text3-color);
}

.header{
    background-color: var(--backgroundmain-color);
}

.home-page .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.homepage-left{
    width: 50%;
}

.homepage-right{
    width: 50%;
}

img.home-page-img-3{
    width: 100%;
}

.home-page-headline{
    margin-top: 94.61px;
}

.home-page-headline-2{
    margin-top: 24px;
}

.home-page-text-information{
    margin-top: 30px;
}

.home-page-button{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: var(--accent-color);
    margin-top: 32px;
    margin-right: 366px;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 14px;
    padding-right: 22px;
    padding-bottom: 14px;
    padding-left: 22px;
    background-color: var(--accent2-color);
    border-style: solid;
    border-color: var(--accent2-color);
    border-radius: 100px;
    cursor: pointer;
}

.home-page-button:hover{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: var(--accent-color);
    background-color: #A0C8D3;
    border-color: #A0C8D3;
}

.home-page-img{
    margin-top: 48.78px;
    margin-bottom: 134.61px;
    padding-right: 48.78px;
    border-right: 1.22px solid var(--text5-color);
}

.home-page-img-2{
    margin-left: 48.78px;
    margin-bottom: 134.61px;
}

.about-platform .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-vocabulary .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-progress .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-page{
    background-color: var(--backgroundmain-color);
}

.about-platform{
    background-color: var(--backgroundmain2-color);
}

.about-vocabulary{
    background-color: var(--backgroundmain-color);
}

.about-progress{
    background-color: var(--backgroundmain2-color);
}

.footer{
    background-color: var(--backgroundmain-color);
}

.main{
    background-color: var(--backgroundmain-color);
    padding: 40px 0;
    background-color: var(--backgroundmain-color );
}

.about-progress .homepage-right{
    padding-left: 80px;
}

.header-list::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: var(--text5-color);
    left: 0;
    height: 16.87px;
    border: 1.2px;
}

.header-list{
    position: relative;
}

.footer-information .container{
    display: flex;
    align-items: center;
}

.footer-list{
    margin-top: 40px;
    margin-bottom: 20px;
}

.main-level-item-line{
    border-bottom: 2px solid black;
    padding-bottom: 5px;
}

.header-main-line{
    width: auto;
    height: 1px;
    background-color: var(--text5-color);
}

.main-level-box{
    background-color: var(--backgroundmain2-color);
    border-radius: 14px;
    display: flex;
    align-items: center;
}

.footer-line{
    width: auto;
    height: 1.2px;
    background-color: var(--text5-color);
    display: flex;
    justify-content: center;
}

.footer-link-programmes-desc, .footer-link-programmes-desc-1{
    margin-top: 27px;
    margin-bottom: 40px;
}

.header-list{
    display: inline-flex;
}

.header-img{
    padding-right: 30px;
}

.header-navigation-link-4{
    margin-top: 33px;
    padding-left: 30px;
}

.header-navigation-link-3{
    margin-top: 33px;
    padding-left: 30px;
}

.header-navigation-link-1{
    margin-top: 33px;
    padding-left: 30px;
}

.header-navigation-link{
    margin-top: 33px;
    padding-left: 30px;
}

.header-link-2{
    margin-top: 33px;
    padding-left: 30px;
}

.footer-list{
    display: flex;
}

.footer-link{
    padding-left: 30px;
}

.footer-link-2{
    padding-left: 30px;
}

.footer-link-3{
    padding-left: 569px;
}

.level-photo{
    padding-top: 30.12px;
    padding-right: 12px;
    padding-bottom: 30px;
    padding-left: 22px;
}

.example-card-bg{
    display: flex;
    align-items: center;
    border-radius: 14px;
    background-color: var(--backgroundmain2-color);
}

.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-section{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-navigation{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header{
    padding: 24px 0;
}

.haeder-text{
    margin-left: 10px;
}

.haeder-text-2{
    margin-left: 30px;
}

.about-platform-link{
    margin-right: 21.05px;
}

.footer-item{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.level-link-right-3{
    margin-right: 15px;
}

.main-list{
    display: flex;
    justify-content: center;
}

nav.footer-navigation{
    display: flex;
}

.footer-left{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul.footer-right{
    display: flex;
}

.main-level-item, .main-level-item-line{
    display: flex;
}

.example .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-link-programmes{
    padding-right: 32.59px;
}

.footer{
    padding-bottom: 40px;
}

.example-card-title{
    padding: 10px 5px;
    padding-left: 40px;
    display: flex;
    align-items: center;
}

.example-card-title-1{
    padding: 20px 5px;
    display: flex;
}

.example-card-photo-listen{
    display: flex;
    align-items: flex-end;
    cursor: pointer;
    padding-top: 22px;
    padding-bottom: 33px;
    padding-left: 400px;
}

.example-card-text-transcription{
    padding-right: 10px;
    padding-bottom: 21.5px;
    padding-left: 40px;
}

.example-card-button{
    margin-right: 352px;
    margin-bottom: 20px;
}

.example-card-text-explain{
    padding-top: 0px;
    padding-right: 33px;
    padding-bottom: 12px; 
    padding-left: 40px;
}

.example-card-text{
    margin-top: 6px;
    margin-right: 33px;
    margin-bottom: 20px;
    margin-left: 40px;
}

.example-card-button-add{
    margin-top: 5px;
    margin-bottom: 40px;
    margin-left: 40px;
}

.example-card-button-remove{
    margin-top: 5px;
    margin-right: 143px;
    margin-bottom: 40px;
    margin-left: 20px;
}

.example-card-name{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 22.9px 45.8px -11.45px #34292714;
}

.example-card-button-ar{
    display: flex;
}

.example-card-title-listen{
    display: flex;
    flex-direction: row;
}

.example-card-text-button{
    display: flex;
}

.card-line{
    width: auto;
    height: 1.2px;
    background-color: var(--text5-color);
    display: flex;
    justify-content: center;
}

.main-item{
    margin-top: 40px;
    margin-left: 24px;
}

.main-list-text{
    margin-top: 25px;
}
